.content{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
} 
  
.login-container{
  width: 80%;
  margin: 0 auto;
  gap: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  /* width: 40vw; */
}

.logo-section h1{
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
  color: #252AA1;
  width: 25vw;
}

.logo-section p{
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
  
.form-section{
  /* border: 3px solid gray; */
  box-shadow: rgb(191, 188, 231) 1px 4px 13px;
  border-radius: 10px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2.2rem;
  padding: 3rem 4rem;
  z-index: 99;
}
  
.title h2{
  font-weight: 600;
  font-size: 1.8rem;
  color: #252AA1;
}
  
.awok{
  color: #252AA1;
  background-color: #252AA1;
  height: 2px;
  margin: 0;
  border: none;
}
  
.form-login{
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  width: 45vw;
}
  
.form-group{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.form-group label{
  font-size: 1.2rem;
  font-weight: 400;
}

.form-group input{
  width: 100%;
  height: 3.7rem;
  border: solid #2529a11b 1px;
  background-color: #F2F2FF;
  border-radius: 10px;
  padding: 0 1rem;
  font-size: 1rem;
}

.form-group input:focus-visible{
  outline: none;
}

.rem-for{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rem{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.rem h5{
  font-size: 1.2rem;
  font-weight: 400;
}

.rem-check{
	border: 1px solid #cacece;
	border-radius: 3px;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.rem-input:checked{
  background-color: rgb(171, 42, 42);
}

.rem-for a{
  color: #252AA1;
  font-size: 1.2rem;
  cursor: pointer;
}

.form-login button{
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 11rem;
  background-color: #5157E6;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  padding: 0.7vw 0;
  gap: 10px;
  transition: all 0.2s;
}

.form-login button:hover{
  background-color: #252AA1;
}

.form-login button:active{
  opacity: 0.8;
}

.form-login img{
  width: 2rem;
}

/* background element */

.gradient1, .gradient2, .eclipse1, .eclipse2{
  position: absolute;
  z-index: -1;
}

.gradient1{
  top: 0;
  left: 0;
}

.gradient2{
  bottom: 0;
  right: 0;
}

.eclipse1{
  bottom: 0;
  left: 0 ;
}

.eclipse2{
  top: 0;
  right: 0;
  rotate: 180deg;
}